{% extends 'base.html.twig' %}

{% form_theme facultyForm 'global/forms/config_horizontal_layout.html.twig' %}

{% block pageTitle %}
    {{ 'admin_edit_faculty.page_title'|trans }}
{% endblock %}

{% block pageContentDescriptionHeader %}
    {{ 'admin_edit_faculty.page_title'|trans }}
{% endblock %}

{% block pageContentDescriptionBreadcrumb %}{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">
                        {{ 'admin_edit_faculty.edit_box_header'|trans }}
                    </h3>
                </div>

                {{ form_start(facultyForm) }}
                    <div class="box-body">
                        {# FORM ERRORS #}
                        {{ form_errors(facultyForm) }}

                        {# INCLUDE FORM TOKEN #}
                        {{ form_row(facultyForm._token) }}

                        {{ form_row(facultyForm.name) }}

                        {# FORM SUBMIT #}
                        {{ form_row(facultyForm.submit,
                            {'label': 'edit_faculty_form.form_label.submit_edit', 'attr': {'class': 'btn-success'}}) }}
                    </div>
                {{ form_end(facultyForm, {'render_rest': false}) }}

            </div>
        </div>
    </div>
{% endblock %}