{% extends 'base.html.twig' %}

{% block pageTitle %}
    {{ 'homepage.page_title'|trans }}
{% endblock %}

{% block pageContentDescriptionHeader %}
    {{ 'homepage.page_title'|trans }}
{% endblock %}

{% block pageStylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/css/dataTables.bootstrap.css') }}">
{% endblock %}

{% block pageContentDescriptionBreadcrumb %}{% endblock %}

{% block pageContent %}

    {% if schedules is not empty %}
        {#<div class="row">#}
            {#{% for groupId, groupSchedules in schedules %}#}
                {#{% include 'homepage/schedule_table.html.twig'#}
                    {#with {'schedules': groupSchedules, 'group': getGroupById(groupId)} %}#}
            {#{% endfor %}#}
        {#</div>#}
    {% else %}
        <div class="callout callout-warning">
            <h4>{{ 'homepage.reminder_empty_header'|trans }}</h4>

            {{ 'homepage.reminder_empty_description'|trans }}
        </div>
    {% endif %}

{% endblock %}

{% block pageExtraJavaScripts %}
    {{ parent() }}

    <script src="{{ asset('build/js/homepage/homepage.js') }}"></script>
{% endblock %}