<div class="col-md-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                {{ 'homepage.table_box_header'|trans }}
                {{ group.name }}
            </h3>

            <div class="col-md-4 pull-right">
                <a href="{{ path('calendar_add_schedule', {'group': group.id }) }}"
                   class="btn-success btn col-md-5">
                    {{ 'homepage.add_to_calendar'|trans }}
                </a>
                <a href="{{ path('calendar_remove_schedule', {'group': group.id }) }}"
                   class="btn-danger btn col-md-5 col-md-offset-2">
                    {{ 'homepage.remove_from_calendar'|trans }}
                </a>
            </div>
        </div>

        <div class="box-body">
            <table class="table display responsive no-wrap table-bordered table-striped schedule-data-table">
                <thead>
                <tr>
                    <th>{{ 'homepage.table.header_1'|trans }}</th>
                    <th>{{ 'homepage.table.header_2'|trans }}</th>
                    <th>{{ 'homepage.table.header_3'|trans }}</th>
                    <th>{{ 'homepage.table.header_4'|trans }}</th>
                    <th>{{ 'homepage.table.header_5'|trans }}</th>
                    <th>{{ 'homepage.table.header_6'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                    {% for schedule in schedules %}
                        <tr>
                            <td>{{ schedule.classesDate|date('Y-m-d') }}</td>
                            <td>{{ schedule.classesStartTime|date('H:i') }}</td>
                            <td>{{ schedule.classesEndTime|date('H:i') }}</td>
                            <td>{{ schedule.classesName }}</td>
                            <td>{{ schedule.lecturerName }}</td>
                            <td>{{ schedule.place }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>