{% extends 'base.html.twig' %}

{% form_theme yearForm 'global/forms/config_horizontal_layout.html.twig' %}

{% block pageTitle %}
    {{ 'year.page_title'|trans }}
{% endblock %}

{% block pageContentDescriptionHeader %}
    {{ 'year.page_title'|trans }}
{% endblock %}

{% block pageContentDescriptionBreadcrumb %}{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">
                        {{ 'year.add_box_header'|trans }}
                    </h3>
                </div>

                {{ form_start(yearForm) }}
                    <div class="box-body">
                        {# FORM ERRORS #}
                        {{ form_errors(yearForm) }}

                        {# INCLUDE FORM TOKEN #}
                        {{ form_row(yearForm._token) }}

                        {{ form_row(yearForm.name) }}
                        {{ form_row(yearForm.cycle) }}

                        {# FORM SUBMIT #}
                        {{ form_row(yearForm.submit, {'attr': {'class': 'btn-success'}}) }}
                    </div>
                {{ form_end(yearForm, {'render_rest': false}) }}

            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">
                        {{ 'year.main_box_header'|trans }}
                    </h3>
                </div>

                <div class="box-body table-responsive">
                    <table class="table table-hover">

                        <tr>
                            <th>{{ 'year.table.header_1'|trans }}</th>
                            <th>{{ 'year.table.header_2'|trans }}</th>
                            <th>{{ 'year.table.header_3'|trans }}</th>
                            <th>{{ 'year.table.header_4'|trans }}</th>
                        </tr>

                        {% for year in years %}
                            <tr>
                                <td>{{ year.id }}</td>
                                <td>{{ year.name }}</td>
                                <td>{{ year.cycle.name }}</td>
                                <td>
                                    <form method="post"
                                          action="{{ path('admin_year_edit', {'year': year.id}) }}"
                                          class="col-md-6 admin-config-edit-form"
                                    >
                                        <button type="submit" class="btn-info btn btn-block">
                                            {{ 'edit_year_form.form_label.submit'|trans }}
                                        </button>
                                    </form>

                                    <form method="post"
                                          action="{{ path('admin_year_delete', {'year': year.id}) }}"
                                          class="col-md-6 admin-config-delete-form"
                                    >
                                        <button type="submit" class="btn-danger btn btn-block">
                                            {{ 'delete_year_form.form_label.submit'|trans }}
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}