{# LEFT PANEL MENU#}

{% set route = app.request.get('_route') %}

<ul class="sidebar-menu">
    <li class="header">{{ 'general.main_menu'|trans|upper }}</li>

    <li class="treeview {{ route == 'homepage' ? 'active' }}">
        <a href="{{ path('homepage') }}">
            <i class="fa fa-globe"></i>
            <span>{{ 'general.main_page'|trans }}</span>
        </a>
    </li>

    <li class="treeview {{ route == 'user' ? 'active' }}">
        <a href="{{ path('user') }}">
            <i class="fa fa-user"></i>
            <span>{{ 'general.user_profile'|trans }}</span>
        </a>
    </li>

    {% if is_granted('ROLE_ADMIN') %}
        <li class="treeview {{ route == 'admin' ? 'active' }}">
            <a href="{{ path('admin') }}">
                <i class="fa fa-cogs"></i>
                <span>{{ 'general.admin_page'|trans }}</span>
            </a>
        </li>

        <li class="treeview {{ route == 'faculty' ? 'active' }}">
            <a href="{{ path('faculty') }}">
                <i class="fa fa-cogs"></i>
                <span>{{ 'general.faculty_page'|trans }}</span>
            </a>
        </li>

        <li class="treeview {{ route == 'cycle' ? 'active' }}">
            <a href="{{ path('cycle') }}">
                <i class="fa fa-cogs"></i>
                <span>{{ 'general.cycle_page'|trans }}</span>
            </a>
        </li>
    {% endif %}
</ul>