<div class="tab-pane active" id="user_settings">
    {# FORM ERRORS #}
    {{ form_errors(userInfoForm) }}

    {# FORM FIELDS #}
    {{ form_row(userInfoForm.firstName) }}
    {{ form_row(userInfoForm.lastName) }}
    {{ form_row(userInfoForm.email) }}

    {# FORM SUBMIT #}
    {{ form_row(userInfoForm.submit, {'attr': {'class': 'btn-warning'}}) }}
</div>