<!DOCTYPE html>
<html lang="pl">
<head>
    {# PAGE META TAGS #}
    {% block pageMetaTags %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{% block pageMetaDescriptionTag %}{% endblock %}">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="robots" content="{% block pageMetaRobotsTag %}{{ 'all,follow' }}{% endblock %}">
        <meta name="googlebot" content="{% block pageMetaGooglebot %}{{ 'index,follow,snippet,archive' }}{% endblock %}">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

    {# PAGE TITLE #}
    <title>{% spaceless %}{% block pageTitle %}{% endblock %}{% endspaceless %} | {{ application.name }}</title>

    {# PPAGE STYLESHEETS #}
    {% block pageStylesheets %}
        {# GOOGLE FONTS #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

        {# BOOTSTRAP AND FONT AWESOME CSS #}
        <link rel="stylesheet" href="{{ asset('build/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/font-awesome.css') }}">

        {# IONICONS STYLES #}
        <link href="{{ asset('build/css/ionicons.css') }}" rel="stylesheet">

        {# THEME STYLESHEET #}
        <link href="{{ asset('build/css/adminlte.css') }}" rel="stylesheet" id="theme-stylesheet">
        <link href="{{ asset('build/css/skin-green.css') }}" rel="stylesheet">

        {# CUSTOM STYLESHEET #}
        <link href="{{ asset('build/css/custom.css') }}" rel="stylesheet">

    {% endblock %}

    {# RESPONSIVITY FOR OLDER IE #}
    {% block pageResponsiveIE %}
        <!--[if lt IE 9]>
        <script src="{{ asset('build/js/html5shiv.js') }}"></script>
        <script src="{{ asset('build/js/respond.js') }}"></script>
        <![endif]-->
    {% endblock %}

    {# JAVASCRIPT FILES #}
    {% block pageJavaScripts %}

    {% endblock %}

    {# FAVICON AND APPLE TOUCH ICONS #}
    {% block pageFavicons %}
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{ asset('build/images/favicon-57x57.png') }}" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/images/favicon-57x57.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/images/favicon-72x72.png') }}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/images/favicon-76x76.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/images/favicon-114x114.png') }}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/images/favicon-120x120.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('build/images/favicon-144x144.png') }}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/images/favicon-152x152.png') }}" />
    {% endblock %}
</head>


<body class="sidebar-mini {% block pageBodyClass %}{{ 'skin-green' }}{% endblock %}">

    {# PAGE BODY BLOCK #}
    {% block pageBody %}

        {# SET USERNAME #}
        {% if app.user.firstname is not empty and app.user.lastname is not empty %}
            {% set username =  app.user.firstname ~ ' ' ~ app.user.lastname %}
        {% else %}
            {% set username = app.user.username %}
        {% endif %}

        {% set avatar =  asset('build/images/avatar.png') %}

        <div class="wrapper">
            {# TOP HEADER #}
            {% block pageHeader %}
                <header class="main-header">
                    <a href="{{ path('homepage') }}" class="logo">
                        <span class="logo-mini">
                            <b>{{ application.short_name }}</b>
                        </span>
                        <span class="logo-lg">
                            <b>{{ application.name }}</b>
                        </span>
                    </a>

                    {# NAVBAR AND USER PANELL #}
                    <nav class="navbar navbar-static-top" role="navigation">

                        {# SIDEBAR TOGGLE BUTTON #}
                        <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
                            <span class="sr-only">{{ 'general.toggle_navigation'|trans }}</span>
                        </a>

                        {# NAVBAR RIGHT MENU #}
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">

                                {# USER ACCOUNT MENU #}
                                <li class="dropdown user user-menu">
                                    <a href="{{ path('user') }}" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{{ avatar }}" class="user-image" alt="{{ 'general.user_image'|trans }}">
                                        <span class="hidden-xs">{{ username }}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="user-header">
                                            <img src="{{ avatar }}" class="img-circle" alt="{{ 'general.user_image'|trans }}">
                                            <p>{{ username }}
                                                <small>
                                                    {{ 'general.last_login'|trans }}:
                                                    {{ app.user.lastLogin|date('Y-m-d H:i:s') }}
                                                </small>
                                            </p>
                                        </li>

                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <a href="{{ path('user') }}" class="btn btn-default btn-flat">
                                                    {{ 'general.profile_button_label'|trans }}
                                                </a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="{{ path('fos_user_security_logout') }}"
                                                   class="btn btn-default btn-flat"
                                                >
                                                    {{ 'general.logout_button_label'|trans }}
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            {% endblock %}

            {# LEFT PANEL #}
            {% block pageLeftPanel %}
                <aside class="main-sidebar">
                    {# LEFT MENU PANEL #}
                    <section class="sidebar">
                        <div class="user-panel">
                            <div class="pull-left image">
                                <img src="{{ avatar }}" class="img-circle" alt="{{ 'general.user_image'|trans }}">
                            </div>
                            <div class="pull-left info">
                                <p><a href="{{ path('user') }}">{{ username }}</a></p>
                                <a href="{{ path('user') }}">
                                    <i class="fa fa-circle text-success"></i>
                                    {{ 'general.available'|trans }}
                                </a>
                            </div>
                        </div>

                        {# LEFT PANEL MENU#}
                        <ul class="sidebar-menu">
                            <li class="header">{{ 'general.main_menu'|trans|upper }}</li>

                            <li class="treeview">
                                <a href="{{ path('homepage') }}">
                                    <i class="fa fa-globe"></i> <span>{{ 'general.main_page'|trans }}</span>
                                </a>
                            </li>

                            <li class="treeview">
                                <a href="{{ path('user') }}">
                                    <i class="fa fa-user"></i> <span>{{ 'general.user_profile'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </section>
                </aside>
            {% endblock %}

            {# CONTENT WRAPPER #}
            <div class="content-wrapper">

                {# TOP DESCRIPTION #}
                {% block pageContentDescription %}
                    <section class="content-header">
                        <h1>
                            {% block pageContentDescriptionHeader %}{% endblock %}
                            <small>{% block pageContentDescriptionSmall %}{% endblock %}</small>
                        </h1>

                        {# BREDCRUMB #}
                        {% block pageContentDescriptionBreadcrumb %}
                            <ol class="breadcrumb">
                                {% block pageContentDescriptionBreadcrumbContent %}{% endblock %}
                            </ol>
                        {% endblock %}
                    </section>
                {% endblock %}

                {# PAGE CONTENT #}
                <section class="content">
                    {% block pageContent %}{% endblock %}
                </section>
            </div>

            {# PAGE FOOTER #}
            {% block pageFooter %}
                <footer class="main-footer">
                    <div class="pull-right hidden-xs">
                        {{ 'general.footer_authors'|trans }}
                    </div>
                    &copy; {{ 'now'|date('Y') }}. {{ application.name }}
                </footer>
            {% endblock %}

            <div class="control-sidebar-bg"></div>
        </div>

    {% endblock %}

{# JAVASCRIPT EXTRA SCRIPTS #}
{% block pageExtraJavaScripts %}
    <script src="{{ asset('build/js/jquery.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap.js') }}"></script>
    <script src="{{ asset('build/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('build/js/fastclick.js') }}"></script>
    <script src="{{ asset('build/js/adminlte.js') }}"></script>
{% endblock %}

</body>
</html>
