<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ 'error.page_title'|trans }} | {{ application.name }}</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('build/css/error.css') }}" />

    <!--[if lt IE 9]>
    <script src="{{ asset('build/js/plugins/html5shiv.js') }}"></script>
    <script src="{{ asset('build/js/plugins/respond.js') }}"></script>
    <![endif]-->
</head>

<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>{{ 'error.page_header'|trans }}</h1>
            <h2>{{ 'error.page_description'|trans }}</h2>
        </div>
        <a href="{{ path('homepage') }}">{{ 'error.link'|trans }}</a>
    </div>
</div>
</body>

</html>
