{% set group = form.group.vars.data %}

{% if group is not null %}
    {% set groupInfo = groupData[group.id] %}

    {{ form_row(form.group) }}
    {{ form_row(form.year, {'attr': {'value': groupInfo['yearName']}}) }}
    {{ form_row(form.cycle, {'attr': {'value': groupInfo['cycleName']}}) }}
    {{ form_row(form.faculty, {'attr': {'value': groupInfo['facultyName']}}) }}
{% else %}
    {{ form_row(form.group) }}
    {{ form_row(form.year) }}
    {{ form_row(form.cycle) }}
    {{ form_row(form.faculty) }}
{% endif %}

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-block btn-danger remove-usi">
            {{ 'general.button_label.remove_position'|trans }}
        </button>
    </div>
</div>