{{ form_row(form.faculty) }}
{{ form_row(form.degree) }}
{{ form_row(form.year) }}
{{ form_row(form.group) }}
{{ form_row(form.subgroup) }}

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-block btn-danger remove-usi">
            {{ 'general.button_label.remove_position'|trans }}
        </button>
    </div>
</div>