{% extends 'base.html.twig' %}

{% form_theme userInfoForm 'global/forms/custom_horizontal_layout.html.twig' %}

{% block pageTitle %}
    {{ 'user.page_title'|trans }}
{% endblock %}

{% block pageContentDescriptionHeader %}
    {{ 'user.page_title'|trans }}
{% endblock %}

{% block pageContentDescriptionBreadcrumb %}{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-md-3">
            {% include 'user/user_box.html.twig' %}
        </div>

        <div class="col-md-9">
            {{ form_start(userInfoForm, {'attr': {'class': 'form-horizontal'}}) }}
                {# INCLUDE FORM TOKEN #}
                {{ form_row(userInfoForm._token) }}

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#user_settings" data-toggle="tab">
                                {{ 'user.settings_tab'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="#user_school_data" data-toggle="tab">
                                {{ 'user.user_school_data_tab'|trans }}
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        {% include 'user/tabs/user_settings.html.twig' %}
                        {% include 'user/tabs/user_school_data.html.twig' %}
                    </div>
                </div>
            {{ form_end(userInfoForm, {'render_rest': false}) }}
        </div>

    </div>
{% endblock %}

{% block pageExtraJavaScripts %}
    {{ parent() }}

    <script src="{{ asset('build/js/user/user.js') }}"></script>
{% endblock %}